.footer-container {
  background: url(noise_lines_transparent@2X.png),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%),
    #211f20;
  padding-top: 40px;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 160px;
}

.footer-photo {
  width: 300px;
  height: 310px;
  background-image: url("../../../assets/img/footer-puppy.png");
}

.contacts {
  padding-top: 16px;
  width: 279px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-title {
  font-size: 35px;
  line-height: 130%;
  color: #ffffff;
}

.information-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.icon-email {
  width: 40px;
  height: 32px;
  background-image: url("../../../assets/svg/icon-email.svg");
}

.icon-phone {
  width: 40px;
  height: 32px;
  background-image: url("../../../assets/svg/icon-phone.svg");
}

.footer-text {
  font-size: 20px;
  line-height: 115%;
  color: #f1cdb3;
  text-decoration: none;
}

.location {
  padding-top: 16px;
  width: 302px;
  display: flex;
  flex-direction: column;
}

.location-boston-wrapper {
  padding-top: 34px;
}

.location-london-wrapper {
  padding-top: 32px;
}

.icon-marker {
  width: 22px;
  height: 32px;
  background-image: url("../../../assets/svg/icon-marker.svg");
}

.footer-link {
  text-decoration: none;
  color: #f1cdb3;
}

@media screen and (max-width: 768px) {
  .footer-container {
    max-width: 768px;
    padding-top: 30px;
    gap: 60px;
  }

  .footer-photo {
    margin-top: 5px;
  }

  .contacts {
    padding-top: 0px;
  }

  .location {
    padding-top: 0px;
  }
}

@media screen and (max-width: 320px) {
  .footer-container {
    max-width: 320px;
    padding-top: 30px;
    gap: 40px;
  }

  .footer-title {
    font-size: 25px;
  }

  .contacts {
    padding-top: 0px;
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }

  .location {
    padding-top: 0px;
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }

  .location-boston-wrapper {
    padding-top: 0px;
  }

  .location-london-wrapper {
    padding-top: 0px;
  }

  .footer-photo {
    margin-top: 0px;
  }

  .footer-photo {
    width: 260px;
    height: 269px;
    background-image: url("../../../assets/img/footer-puppy_320px.png");
  }
}
