.pets-container {
  background-color: #f6f6f6;
  padding-top: 80px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.pets-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px 40px;
}

.pets-cards-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 53px;
}

.button-arrow {
  width: 52px;
  height: 52px;
  left: 0px;
  border: 2px solid #f1cdb3;
  box-sizing: border-box;
  border-radius: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button-arrow:hover {
  background-color: #fddcc4;
  cursor: pointer;
}

.arrow-left {
  background-image: url("../../../assets/img/Arrow-left.png");
  width: 14px;
  height: 6px;
}

.arrow-right {
  background-image: url("../../../assets/img/Arrow-right.png");
  width: 14px;
  height: 6px;
}

.pets-card {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border-radius: 9px;
}

.pets-card:hover .pets-card-button {
  background-color: #fddcc4;
  border: none;
}

.pets-card:hover {
  background-color: #ffffff;
}

.pets-card-name {
  padding-top: 30px;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}

.pets-button-padding {
  padding-top: 30px;
  padding-bottom: 30px;
}

.pets-card-button {
  background-color: #fafafa;
  width: 187px;
  height: 52px;
  border: 2px solid #f1cdb3;
  box-sizing: border-box;
  border-radius: 100px;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

.pets-card-button:hover {
  background-color: #fddcc4;
  cursor: pointer;
}

.our-friends-navigation-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.button-paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  border-radius: 100px;
}

.button-paginator-inactive {
  box-sizing: border-box;
  border: 2px solid #cdcdcd;
  background-color: #f6f6f6;
}

.button-paginator-available {
  box-sizing: border-box;
  border: 2px solid #f1cdb3;
  background-color: #f6f6f6;
}

.button-paginator-available:hover {
  background: #fddcc4;
  border: none;
}

.button-paginator-active {
  background: #f1cdb3;
  border: none;
}

.two-in-left {
  width: 27px;
  height: 23px;
  background-image: url("../../../assets/img/two-left.png");
  background-repeat: no-repeat;
  background-position: center;
}

.one-in-left {
  width: 13px;
  height: 23px;
  background-image: url("../../../assets/img/one-left.png");
  background-repeat: no-repeat;
  background-position: center;
}

.one-in-right {
  width: 13px;
  height: 23px;
  background-image: url("../../../assets/img/one-right.png");
  background-repeat: no-repeat;
  background-position: center;
}

.two-in-right {
  width: 27px;
  height: 23px;
  background-image: url("../../../assets/img/two-right.png");
  background-repeat: no-repeat;
  background-position: center;
}

.button-paginator-text {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
}

@media screen and (max-width: 768px) {
  .pets-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px 40px;
  }

  .pets-container {
    gap: 30px;
    padding-bottom: 75px;
  }

  .our-friends-navigation-wrapper {
    padding-top: 10px;
  }

  .pets-card7 {
    display: none;
  }

  .pets-card8 {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .our-friends-navigation-wrapper {
    gap: 10px;
    padding-top: 0px;
  }

  .pets-container {
    background-color: #f6f6f6;
    padding-top: 42px;
    padding-bottom: 42px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 42px;
  }

  .pets-card4 {
    display: none;
  }

  .pets-card5 {
    display: none;
  }

  .pets-card6 {
    display: none;
  }
}
