html {
  scroll-behavior: smooth; /*чтобы прокрутка страницы по якорям проходила плавно*/
}

.content {
  color: #ffffff;
  max-width: 1280px;
  margin: 0 auto;
  /* position: relative;
  background-image: url("../../../assets/img/our-pets-1280.jpg");
  width: 1280px;
  height: 1812px;
  margin: 0 auto;
  opacity: 0.8;
  z-index: 1;*/
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}

.header-container {
  /* background: url(noise_lines_transparent@2X.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;*/
  background-color: #ffffff;
  height: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  /*color: #ffffff;*/
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo-title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 110%;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.font-arial {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
}

.font-georgia {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.06em;
}

.logo-subtitle {
  padding-left: 4px;
  padding-top: 10px;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #292929;
}

h1 {
  margin: 0px;
}

h2 {
  margin: 0px;
}

.header-list {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}

p {
  margin: 0px;
}

.header-link {
  font-size: 15px;
  line-height: 160%;
  color: #545454;
  text-decoration: none;
}

.header-link:hover {
  color: #292929;
}

li {
  list-style: none;
}

ul {
  padding: 0px;
  margin: 0px;
}

.link-active {
  color: #292929;
}

.link-active-line {
  width: 58px;
  height: 3px;
  top: 24px;
  background: #f1cdb3;
}

.start-screen-container {
  background: url(noise_lines_transparent@2X.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.photo {
  background-image: url("../../../assets/img/start-screen-puppy.png");
  width: 698px;
  height: 728px;
}

.start-screen-content {
  display: flex;
  flex-direction: column;
  padding-top: 163px;
}

.heading {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  line-height: 130%;
  color: #ffffff;
}

.subheading {
  font-size: 15px;
  line-height: 160%;
  color: #cdcdcd;
  padding-top: 42px;
}

.button-primery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 130%;

  width: 207px;
  height: 52px;
  background: #f1cdb3;
  border-radius: 100px;
  border: 0;
  cursor: pointer;
}

.button-padding {
  padding-top: 41px;
}

.section-heading {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
