html {
  scroll-behavior: smooth; /*чтобы прокрутка страницы по якорям проходила плавно*/
}

body {
  margin: 0;
}

.content {
  color: #ffffff;
  max-width: 1280px;
  margin: 0 auto;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}

.header-container {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/img/start-screen-gradient-background.png");
  /*background: url(noise_lines_transparent@2X.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%)
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
  /*#211f20;*/

  background-position: center 0;
  background-repeat: no-repeat;
  background-position: center 0 180px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo-title {
  font-size: 32px;
  line-height: 110%;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

.font-arial {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
}

.font-georgia {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.06em;
}

.logo-subtitle {
  padding-left: 4px;
  padding-top: 10px;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

h1 {
  margin: 0px;
}

h2 {
  margin: 0px;
}

.header-list {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}

p {
  margin: 0px;
}

.header-link {
  font-size: 15px;
  line-height: 160%;
  color: #cdcdcd;
  text-decoration: none;
}

.header-link:hover {
  color: #fafafa;
}

li {
  list-style: none;
}

ul {
  padding: 0px;
  margin: 0px;
}

.link-active {
  color: #fafafa;
}

.link-active-line {
  width: 114px;
  height: 3px;
  top: 24px;
  background: #f1cdb3;
}

.start-screen-container {
  background-image: url("../../../assets/img/start-screen-gradient-background.png");
  /*background: url(noise_lines_transparent@2X.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%)
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
  /* #211f20;*/

  background-position: center 0 -180px;
  /*  background-repeat: no-repeat;*/
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.photo {
  background-image: url("../../../assets/img/start-screen-puppy.png");
  width: 698px;
  height: 728px;
}

.start-screen-content {
  display: flex;
  flex-direction: column;
  padding-top: 163px;
}

.heading {
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  color: #ffffff;
}

.subheading {
  font-size: 15px;
  line-height: 160%;
  color: #cdcdcd;
  padding-top: 42px;
}

.button-primery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;

  width: 207px;
  height: 52px;
  background: #f1cdb3;
  border-radius: 100px;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  color: #292929;
}

.button-primery:hover {
  background: #fddcc4;
}

.button-padding {
  padding-top: 41px;
}

.section-heading {
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.burger {
  display: none;
}

.burger-line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #f1cdb3;
  z-index: 15;
}

@media screen and (max-width: 768px) {
  .content {
    max-width: 768px;
  }

  .container {
    max-width: 768px;
    /*margin: 0 auto;*/
    padding-left: 30px;
    padding-right: 30px;
  }

  .header-container {
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: url("../../../assets/img/start-screen-background_768px.jpg");
    background-position: center 0;
    background-repeat: no-repeat;
    background-position: center 0 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  /*.logo-subtitle {
    padding-left: 4px;
    padding-top: 10px;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
  }*/

  .header-list {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
  }

  .link-active-line {
    width: 114px;
    height: 3px;
    top: 24px;
    background: #f1cdb3;
  }

  .start-screen-container {
    background-image: url("../../../assets/img/start-screen-background_768px.jpg");
    background-position: center 0 -120px;
    background-repeat: no-repeat;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .photo {
    background-image: url("../../../assets/img/start-screen-puppy_768px.png");
    width: 569px;
    height: 593px;
  }

  .start-screen-content {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 125px;
  }

  .heading {
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: #ffffff;
  }

  .subheading {
    font-size: 15px;
    line-height: 160%;
    color: #cdcdcd;
    padding-top: 42px;
  }

  .button-primery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;

    width: 207px;
    height: 52px;
    background: #f1cdb3;
    border-radius: 100px;
    border: 0;
    cursor: pointer;
    text-decoration: none;
    color: #292929;
  }

  .button-primery:hover {
    background: #fddcc4;
  }

  .button-padding {
    padding-top: 42px;
    padding-left: 126px;
  }

  .section-heading {
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .burger {
    display: none;
  }

  .burger-line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #f1cdb3;
    z-index: 15;
  }
}

@media screen and (max-width: 320px) {
  .content {
    max-width: 320px;
  }

  .container {
    max-width: 320px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  .burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 30px;
    height: 22px;

    cursor: pointer;
    z-index: 2;
  }

  .header-nav-close {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 45px;
    right: 53px;
    z-index: 16px;
  }

  .header-nav-close-line {
    display: block;
    height: 100%;
    background-color: #f1cdb3;
    width: 2px;
    /*position: absolute;*/
    /*top: 50%;*/
  }

  .header-nav-close-line:first-child {
    /*transform: translateY(-50%) rotate(45deg); /*чтобы линии были по центру*/
  }

  .header-nav-close-line:last-child {
    /*  transform: translateY(-50%) rotate(-45deg); /*чтобы линии были по центру*/
  }

  .header-nav {
    position: fixed;
    top: 0px;
    /*left: 148px;*/
    padding-top: 134px;
    width: 320px;
    height: 100%;
    background-color: black;
    z-index: 10;
    transform: translateX(100%);
    transition: 0.5s all linear;
  }

  .header-nav-open {
    transform: translateX(0);
  }

  .header-container {
    justify-content: flex-start;
    align-items: center;
    gap: 43px;
  }

  .section-heading {
    font-size: 25px;
  }

  .header-list {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 243px;
    /*padding-left: 127px;*/
  }

  .header-link {
    font-size: 32px;

    color: #cdcdcd;
  }

  .link-active-line {
    width: 243px;
  }

  .logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .logo-title {
    /* color: #f1cdb3;*/
  }

  .heading {
    font-size: 25px;
  }

  .start-screen-content {
    padding-left: 0px;
    align-items: center;
  }

  .button-padding {
    padding-top: 42px;
    padding-left: 0px;
  }

  .photo {
    background-image: url("../../../assets/img/start-screen-puppy_320px.png");
    width: 260px;
    height: 271.77px;
  }

  .wrapper-photo {
    padding-top: 105px;
  }

  .header-container {
    /* padding-top: 60px;
    padding-bottom: 60px;*/
    background-image: url("../../../assets/img/start-screen-gradient-background_320.jpg");
  }
}
